header {
    &.home {
        background: url('../../img/header-img.jpg');
        // background: #000 url('../../img/headet-img.png') no-repeat 85% top !important;
        // background-repeat: no-repeat;
        // background-size: 800px !important;
        background-size: cover !important;
        height: 90vh;

        h1 {
            font-size: 5rem;
        }

        @media only screen and (max-width: $wide_width) {
            height: auto;
            padding-bottom: 10px;
        }

        @media only screen and (max-width: $desktop_width) {
            top: 50%;
            width: 100%;
        }

        @media only screen and (max-width: $desktop_width) {
            height: auto;
            padding-bottom: 10px;
        }

        .header-title {
            animation: moveInLeft 2s ease-out .1s;
            -webkit-animation: moveInLeft 2s ease-out .1s;
            -moz-animation: moveInLeft 2s ease-out .1s;
            -o-animation: moveInLeft 2s ease-out .1s;
            -ms-animation: moveInLeft 2s ease-out .1s;
        }

        .description {
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 20px;
            line-height: 1.3;
            animation: moveInLeft 2s ease-out .2s;
            -webkit-animation: moveInLeft 2s ease-out .2s;
            -moz-animation: moveInLeft 2s ease-out .2s;
            -o-animation: moveInLeft 2s ease-out .2s;
            -ms-animation: moveInLeft 2s ease-out .2s;
        }

        .form-header {
            animation: moveInLeft 2s ease-out .3s;
            -webkit-animation: moveInLeft 2s ease-out .3s;
            -moz-animation: moveInLeft 2s ease-out .3s;
            -o-animation: moveInLeft 2s ease-out .3s;
            -ms-animation: moveInLeft 2s ease-out .3s;
        }
    }

    &.header-banner {
        background: #000 url('../../img/meet-david-banner.jpg');
        background-position: center top;
        position: relative;
        height: 90vh;

        @media only screen and (max-width: $desktop_width) {
            height: 60vh;
        }

        @media only screen and (max-width: $mobile_width) {
            height: 50vh;
        }
        // background-size: cover;

        .dark-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }

        .header-desc-container {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media only screen and (max-width: $desktop_width) {
                top: 50%;
                width: 100%;
            }
        }

        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &.issue-banner {
        background: url('../../img/issue-banner.jpg');
    }

    &.arhive-banner {
        background: url('../../img/issue-img-2.jpg');
        background-position: center;
    }

    &.vote-banner {
        background: url('../../img/vote-bg.jpg');
    }

    &.get-involved-banner {
        background: url('../../img/connect-bg.jpg');
    }

    &.volunteer {
        background: #CECECE url('../../img/volunteer-bg.jpg ') no-repeat !important;
        background-size: 650px !important;
        position: relative;

        .dark-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background: rgba(0, 0, 0, 0.2);
        }

        h3 {
            text-transform: uppercase;
            font-weight: bold;
        }

        h1 {
            color: #000;
        }

        p.description, p.policy {
            color: #000;

            @media only screen and (max-width: $mobile_width) {
                color: #fff;
            }
        }

        p.consent {
            color: #CDCDCD;
        }
    }


}