nav {
    &.navbar {
        padding: 20px 0;
        z-index: 1;

        ul.navbar-nav {
            align-items: center;
           li.nav-item {
               margin-right: 25px;
                a.nav-link {
                    color: $primary;
                    padding: 0;
                    font-size: 1.5rem;
                }

                a.social-link {
                    &:not(:last-child) {
                        margin-right: 7px;
                    }
                }

                .social-icon {
                    width: 18px;
                }
            }
        }

        ul.nav-donate {
            li.nav-item {
                margin-right: 0;
                a.nav-link {
                    background: $primary;
                    padding: 10px 25px;
                    color: #000;
                }
            }
        }

        .logo-text {
            font-size: 1.5rem;
            &:hover {
                color: $primary;
            }

            img.logo-img {
                width: 20px;
            }
        }
    }

}

